name: Build and Test

on:
  push:
    branches:
      - '**'

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
          include-prerelease: true

      - name: Build
        run: dotnet build

      - name: Test
        run: dotnet test
